{% extends "layout/base.html" %}
{% block title %}Home · Material Web{% endblock %}

{% block content %}
    <section class="hero">
        <div>
            <h1>Material Design</h1>
            <p>Material Design 3 is Google’s open‑source design system for building beautiful, usable products.</p>
            <md-filled-button onclick="alert('Get Started!')">Get started</md-filled-button>
        </div>
        <img src="https://picsum.photos/seed/md/800/600" alt="Hero">
    </section>
{% endblock %}