{% load static %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/jpg" href="{% static 'img/KF_logo.jpg' %}">
    <style>
        @font-face {
            font-family: 'JetBrainsMono';
            src: url('{% static 'fonts/JetBrainsMono-Regular.woff2' %}') format('woff2');
        }

        * {
            font-family: 'JetBrainsMono', Arial, sans-serif;
        }
    </style>
    {% block style %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>


<head>

    <style data-merge-styles="true"></style>

    <style data-merge-styles="true"></style>
    <style data-merge-styles="true"></style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;family=Montserrat:wght@400;600;700&amp;display=fallback">


    <title>2024 Best National Universities | US News Rankings</title>
    <meta data-rh="true" charset="utf-8">
    <meta data-rh="true" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta data-rh="true" name="description"
          content="Compare the top national universities in the U.S. Learn more about the best national universities to find the right school for you.">
    <meta data-rh="true" name="keywords" content="bestcolleges, nationaluniversities, rankings, rankinglist, page1">
    <meta data-rh="true" name="site" content="Best Colleges">
    <meta data-rh="true" name="zone" content="Rankings/National Universities">
    <meta data-rh="true" name="robots" content="">
    <meta data-rh="true" property="fb:pages" content="5834919267">
    <meta data-rh="true" property="og:site_name" content="US News &amp; World Report">
    <meta data-rh="true" property="fb:app_id" content="130063997038366">
    <meta data-rh="true" property="twitter:card" content="summary_large_image">
    <meta data-rh="true" property="twitter:site" content="@usnews">
    <meta data-rh="true" property="og:type" content="webpage">
    <meta data-rh="true" property="og:url"
          content="https://www.usnews.com/best-colleges/rankings/national-universities">
    <meta data-rh="true" property="og:title" content="The Best National Universities in America">
    <meta data-rh="true" property="og:description"
          content="See how the top national universities rank at U.S. News. Find rankings for the best national universities in the U.S.">
    <meta data-rh="true" property="og:image"
          content="https://www.usnews.com/cmsmedia/8f/28/17f974224ed4ad06bbb5801cbefb/210908-bestcollegesstanford-stock.jpg">
    <meta data-rh="true" property="og:title" content="The Best National Universities in America">
    <meta data-rh="true" property="og:description"
          content="See how the top national universities rank at U.S. News. Find rankings for the best national universities in the U.S.">
    <meta data-rh="true" property="og:image"
          content="https://www.usnews.com/cmsmedia/8f/28/17f974224ed4ad06bbb5801cbefb/210908-bestcollegesstanford-stock.jpg">
    <meta data-rh="true" property="og:type" content="webpage">
    <meta data-rh="true" property="og:url"
          content="https://www.usnews.com/best-colleges/rankings/national-universities">
    <meta data-rh="true" property="optimizely" content="Optimizely is running on this page.">
    <meta data-rh="true" name="referrer" content="origin">
    
    <style data-rh="true">
        /* Stop smooth scrolling if reduced-motion is enabled */
        @media (prefers-reduced-motion: reduce) {
            html {
                scroll-behavior: auto !important;
            }
        }
    </style>
    <link data-rh="true" rel="shortcut icon" href="/static/images/favicon.ico">
    <link data-rh="true" rel="apple-touch-icon" href="/static-atlas/assets/img/social-logo-world-report.png"
          type="image/png">
    <link data-rh="true" rel="canonical" href="https://www.usnews.com/best-colleges/rankings/national-universities"
          data-test-id="relCanonical">
    <link data-rh="true" rel="next" href="https://www.usnews.com/best-colleges/rankings/national-universities?_page=2"
          data-test-id="relNext">
    <link data-rh="true" rel="prefetch" as="script"
          href="https://cse.google.com/cse.js?cx=009692862532464842631:7x4cnqttvvy">

    <style data-styled="active" data-styled-version="5.3.3"></style>
    

    <style id="_goober"> 

    

    </style>
</head>