{% extends 'layout_ranking.html' %}
{% load static %}

{% block title %}
    Academic Peak
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.esm.min.js' %}"></script>
{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'ranking_img/index/index_background.png' %}" class="d-block mx-lg-auto img-fluid"
                     alt="Bootstrap Themes" width="700"
                     height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Academic Peak World University Rankings 2024
                    !</h1>
                <p class="lead">"Introducing the 2025 University Rankings on Academic Peak!
                    Dive into our latest,
                    meticulously curated list, reflecting cutting-edge research and up-to-date student feedback.
                    Discover top-tier institutions, emerging colleges, and dynamic trends. Elevate your academic
                    perspective with the most informed choices for 2024!"</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Search for Ranking Tables</h1>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="put your text here" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <h1 class="pb-2 border-bottom">Embodying Fairness and Integrity</h1>

        <p>At Academic Peak, we pride ourselves on delivering rankings that are both equitable
            and just. Recognizing the diverse strengths and potentials of institutions, our approach ensures
            that every university is evaluated on a truly equal footing. Beyond traditional metrics, we
            employ the latest scoring technologies and methodologies, capturing a multi-faceted view of what
            each institution has to offer. In a world that's rapidly evolving, it's crucial to stay updated;
            and with Academic Peak, you're not only getting the most current, but also the most fair and
            balanced rankings available.</p>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">Fairness in Evaluation</h3>
                <p>At Academic Peak, our ranking tables have been crafted with utmost precision, ensuring that every
                    institution is judged on a level playing field. Through objective metrics and transparent
                    methodologies, we guarantee fairness in every ranking.</p>
            </div>
            <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">Innovative Data Integration</h3>
                <p>The website’s database is protected from programmatic modifications, ensuring that all ratings and
                    comments are contributed by real users. This guarantees that evaluations are authentic and reflect
                    genuine user experiences, maintaining the integrity of the platform.</p>
            </div>
        </div>
    </div>



{% endblock %}