{% extends 'academicpeak_about.html' %}

{% block title %}
    Academic Peak 2024 World University Rankings
{% endblock %}

{% block content %}
<div class="intro bg-light">

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header">
                        <h2 id="modals">Standaed for evaluation</h2>
                        <p>As Academic Peak, we are well aware of the importance of fair evaluation and ranking of
                            universities for students. There are strict scoring standards for universities in Academic
                            Peak
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
{% endblock %}