{% extends 'academicpeak_mainpage.html' %}
{% load static %}
{% block title %}
    Embodying Fairness and Integrity - Academic Peak
{% endblock %}

{% block content %}
    <div style="background-color: #221f1f !important; padding-top: 6rem !important; padding-bottom: 6rem !important"
         class="page-hero bg-primary text-white" id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="emoji mb-3">
                        <img src="{% static 'img/Academic Peak Logo web.svg' %}" height="100px">
                    </div>
                    <h1 style="color: #fff!important">Embodying Fairness and Integrity</h1>
                    <p class="lead">At Academic Peak, we pride ourselves on delivering rankings that are both equitable
                        and just. Recognizing the diverse strengths and potentials of institutions, our approach ensures
                        that every university is evaluated on a truly equal footing. Beyond traditional metrics, we
                        employ the latest scoring technologies and methodologies, capturing a multi-faceted view of what
                        each institution has to offer. In a world that's rapidly evolving, it's crucial to stay updated;
                        and with Academic Peak, you're not only getting the most current, but also the most fair and
                        balanced rankings available.</p>
                    <a style="color: #ffffff !important;" href="{% url 'academic_peak_mainpage' %}"
                       class="btn btn-outline-primary btn-lg mt-4">Academic Peak Home Page</a>
                </div>
            </div>
        </div>
    </div>



    <div class="intro bg-light">
        <div class="container">
            <div style="padding-top: 3rem !important;" class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header">
                        <h2 style="font-size: 50px !important;" id="modals">Fairness in Evaluation</h2>
                        <p style="font-size: 20px !important;">At Academic Peak, our 2024 University Rankings have been
                            crafted with utmost precision, ensuring that every institution is judged on a level playing
                            field. Through objective metrics and transparent methodologies, we guarantee fairness in
                            every ranking.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div style="padding-top: 3rem !important;" class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header">
                        <h2 style="font-size: 50px !important;" id="modals">Highly Recognized</h2>
                        <p style="font-size: 20px !important;">Our rankings are not just numbers; they are stamps of
                            excellence recognized globally. With endorsements from educational bodies and trust from
                            thousands of students, Academic Peak's 2024 rankings set the gold standard in higher
                            education assessment.</p>

                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div style="padding-top: 3rem !important;" class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header">
                        <h2 style="font-size: 50px !important;" id="modals">Innovative Data Integration</h2>
                        <p style="font-size: 20px !important;">In this year's rankings, we've incorporated innovative
                            data sources and feedback mechanisms, blending traditional assessment methods with modern
                            analytics. This allows us to capture the evolving dynamics of global education, making our
                            list more comprehensive and relevant than ever before.</p>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <footer class="footer-1 bg-light text-dark">
        <div class="container">
            <div class="copyright text-center">
                <hr/>
                <p class="small">&copy; 2023, Academic Peak - <a
                        target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index"
                        title="中华人民共和国工业和信息化部要求公布内容">京ICP备2023015619号</a></p>
            </div>

        </div>
    </footer>

{% endblock %}