{% extends 'academicpeak_mainpage.html' %}
{% load static %}
{% block title %}
    Markdown Center - Academic Peak
{% endblock %}

{% block content %}
    <div style="background-color: #221f1f !important; padding-top: 6rem !important; padding-bottom: 6rem !important"
         class="page-hero bg-primary text-white" id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="emoji mb-3">
                        <img src="{% static 'img/Academic Peak Logo web.svg' %}" height="100px">
                    </div>
                    <h1 style="color: #fff!important">Markdown - Academic Peak</h1>
                    <p class="lead">Explore expert-crafted content on diverse topics, from tech guides to creative
                        tutorials, all in the simplicity of Markdown. Elevate your learning and communication
                        effortlessly.</p>
                    <a style="color: #ffffff !important;" href="{% url 'academic_peak_mainpage' %}"
                       class="btn btn-outline-primary btn-lg mt-4">Academic Peak Home Page</a>
                </div>
            </div>
        </div>
    </div>

    {% for folder in folder_data %}
        <div class="container">
            <div style="padding-top: 3rem !important; padding-bottom: 3rem !important" class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header">
                        <h2 style="font-size: 46px !important;" id="modals">{{ folder.name }}</h2>
                        {% for item in folder.items %}
                            <a href="{% url 'academic_peak_markdown_reader' folder.name item %}" target="_blank">
                                <p style="font-size: 25px !important; margin-left: 7px !important; margin-bottom: 0.2rem !important;">
                                    - {{ item }}</p>
                            </a>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    {% endfor %}

    <footer class="footer-1 bg-light text-dark">
        <div class="container">
            <div class="copyright text-center">
                <hr/>
                <p class="small">&copy; 2023, Academic Peak</p>
            </div>

        </div>
    </footer>

{% endblock %}