{% extends 'academicpeak_mainpage.html' %}
{% load static %}
{% block title %}
    About Academic Peak
{% endblock %}

{% block content %}
    <div style="background-color: #221f1f !important; padding-top: 6rem !important; padding-bottom: 6rem !important"
         class="page-hero bg-primary text-white" id="banner">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="emoji mb-3">
                        <img src="{% static 'img/Academic Peak Logo web.svg' %}" height="100px">
                    </div>
                    <h1 style="color: #fff!important">About Academic Peak</h1>
                    <p class="lead">Are you navigating the maze of higher education options?
                            Look no further than
                            Academic Peak. It's not just another ranking site; it's a comprehensive guide that combines
                            fairness, global recognition, and cutting-edge data analytics. Whether you're a student
                            aiming for the best or an academician seeking insights, Academic Peak offers a holistic view
                            of universities worldwide. Trust me, it's the ultimate compass for your academic
                            journey!</p>
                    <a style="color: #ffffff !important;" href="{% url 'academic_peak_mainpage' %}"
                       class="btn btn-outline-primary btn-lg mt-4">Academic Peak Home Page</a>
                </div>
            </div>
        </div>
    </div>



    <div class="intro bg-light">

        <div class="container">
            <div style="padding-top: 3rem !important;" class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header">
                        <h2 style="font-size: 46px !important;" id="modals">Embodying Fairness and Integrity</h2>
                        <p style="font-size: 20px !important;">At Academic Peak, we pride ourselves on delivering
                            rankings that are both equitable and just. Recognizing the diverse strengths and potentials
                            of institutions, our approach ensures that every university is evaluated on a truly equal
                            footing. Beyond traditional metrics, we employ the latest scoring technologies and
                            methodologies, capturing a multi-faceted view of what each institution has to offer. In a
                            world that's rapidly evolving, it's crucial to stay updated; and with Academic Peak, you're
                            not only getting the most current, but also the most fair and balanced rankings
                            available.</p>
                    </div>
                    <div class="component">
                    <a href="{% url 'academic_peak_fairness' %}">
                        <button style="font-size: 20px !important;" type="button" class="btn btn-info"
                                data-toggle="modal" data-target="#glassAnimals">
                            How Academic Peak Rating University
                        </button>
                    </a>
                </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div style="padding-top: 3rem !important;" class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header">
                        <h2 style="font-size: 46px !important;" id="modals">Academic Peak Legal</h2>
                        <p style="font-size: 20px !important;">As academic peak we comply with various laws and regulations to legally provide high quality content to our users.</p>
                    </div>

                    <div class="component">
                    <a href="{% url 'academic_peak_legal' %}">
                        <button style="font-size: 20px !important;" type="button" class="btn btn-info"
                                data-toggle="modal" data-target="#glassAnimals">
                            Academic Peak Legal
                        </button>
                    </a>
                </div>
                </div>
            </div>

        </div>

    </div>
    <footer class="footer-1 bg-light text-dark">
        <div class="container">
            <div class="copyright text-center">
                <hr/>
                <p class="small">&copy; 2023, Academic Peak - <a
                        target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index"
                        title="中华人民共和国工业和信息化部要求公布内容">京ICP备2023015619号</a></p>
            </div>

        </div>
    </footer>
{% endblock %}