{% extends 'academicpeak_mainpage.html' %}
{% load static %}

{% block title %}
    {{ file_name }} - Markdown
{% endblock %}

{% block style %}
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
            font-family: 'CustomFont', sans-serif;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
                font-family: 'CustomFont', sans-serif;
            }

        }

        @font-face {
            font-family: 'CustomFont';
            src: url('{% static 'fonts/JetBrainsMono-Regular.woff2' %}') format('woff2'),
            url('{% static 'fonts/JetBrainsMono-Regular.woff2' %}') format('woff');
        }
    </style>
{% endblock %}

{% block content %}
    <div style="color: #221f1f !important;" class="navbars">
        <nav style="color: #221f1f !important;" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="{% url 'academic_peak_markdown' %}">
                    <img src="{% static 'img/Academic Peak Logo web black.svg' %}" alt="Academic Peak Logo" class="mr-2"
                         height="30">
                    Markdown
                </a>
                <!-- Print Button -->
                <button type="button" onclick="window.print();" class="btn btn-light ml-auto">Export to PDF</button>
            </div>
        </nav>
    </div>


    <article class="markdown-body">
        {% if markdown_content %}
            {{ markdown_content|safe }}
        {% else %}
            <p>Markdown content not available.</p>
        {% endif %}
    </article>

{% endblock %}
