{% extends 'academicpeak_mainpage.html' %}
{% load static %}

{% block title %}
    Scholar - Academic Peak
{% endblock %}

{% block content %}
    <div style="color: #221f1f !important;" class="navbars">
        <nav style="color: #221f1f !important;" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="{% url 'academic_peak_mainpage' %}"><img
                        src="{% static 'img/Academic Peak Logo web black.svg' %}"
                        alt="Academic Peak Logo" class="mr-2"
                        height="30"> Scholar - Academic Peak</a>
            </div>
        </nav>
    </div>

    <div class="container" style="max-width: 1000px; margin: 0 auto; padding-top: 0px !important; padding: 20px;">
        <form method="post" class="translation-form"
              style="background-color: #ffffff; border: 1px solid #cccccc; padding: 20px; border-radius: 8px; margin-bottom: 20px; display: flex; align-items: center;">
            {% csrf_token %}
            <textarea
                    style="width: 100%; height: 46px; margin-right: 15px !important; padding: 10px; border: 1px solid #cccccc; border-radius: 4px; resize: none; box-sizing: border-box;"
                    name="source_text" rows="4" cols="50" onkeydown="preventEnter(event)">{{ request.POST.source_text }}
            </textarea>
            <button type="submit"
                    style="background-color: #221f1f; color: #ffffff; border: none; padding: 10px; border-radius: 4px; cursor: pointer; display: flex; align-items: center;">
                <img src="{% static 'img/Academic Peak Logo web black.svg' %}" alt="Academic Peak Logo"
                     style="width: 20px; height: 20px; margin-right: 5px;">
                <span style="flex: 1;">Search</span>
            </button>

            <script>
                function preventEnter(event) {
                    if (event.key === 'Enter' || event.keyCode === 13) {
                        event.preventDefault();
                    }
                }
            </script>


        </form>
    </div>


{% endblock %}
