{% extends 'academicpeak_mainpage.html' %}
{% load static %}

{% block title %}
    Legal Disclaimer
{% endblock %}

{% block content %}
    <div style="width: 100% !important; background-color: #221f1f !important; padding-top: 3rem !important; padding-bottom: 3rem !important; ;"
         class="page-hero bg-primary text-white" id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="emoji mb-3">
                        <img src="{% static 'img/Academic Peak Logo web.svg' %}" height="100px">
                    </div>
                    <h1 style="color: #fff!important; font-size: 45px">Legal Disclaimer</h1>
                    <p style="margin-bottom: 0rem !important;" class="lead">"As academic peak we comply with various
                        laws and regulations to legally provide high quality content to our users.
                        "</p>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 3rem !important;" class="container">
        <div style="padding-top: 3rem !important;" class="row">
            <div class="col-md-8 offset-md-2">
                <div class="header">
                    <p style="font-size: 20px !important;">Academic Peak (Academicpeak.cn), is designed to provide
                        educational resources and information to our users. It is hosted on Tencent Cloud and includes
                        content such as videos sourced from the College Board's official website and notes uploaded by
                        users. We respect all copyright and intellectual property rights and are committed to ensuring
                        that all content complies with relevant laws and regulations.</p>

                    <p style="font-size: 30px !important;"><b>Regarding the AP Academic on this website:</b></p>
                    <p style="font-size: 16px !important;">1. Some video content is sourced from the official website of
                        the College Board, and the copyright of these materials belongs to the College Board.</p>
                    <p style="font-size: 16px !important;">2. The use of these videos is strictly for non-commercial
                        educational purposes, and we strive to adhere to all applicable copyright laws.</p>
                    <p style="font-size: 16px !important;">3. Academic Peak do not claim ownership or copyright over
                        these video materials.</p>
                    <p style="font-size: 16px !important;">4. All College Board materials provided on this website are
                        for supplemental educational purposes and are used under the principle of fair use, to the
                        extent applicable.</p>
                    <p style="font-size: 16px !important;">5. If any copyright owner has objections to the use of their
                        materials on our website, please contact us at xiehongzhe04@gmail. We commit to addressing
                        copyright concerns promptly upon notification.</p>


                    <p style="font-size: 20px !important;"><b>This website also allows users to upload their notes. We
                        do not claim ownership of these notes and are not responsible for the content, accuracy, or any
                        intellectual property concerns related to these user-uploaded notes.</b></p>
                    <p style="font-size: 20px !important;"><b>We are not liable for any damages or losses resulting from
                        the use of information on this website.</b></p>

                </div>

            </div>
        </div>
    </div>





    <footer class="footer-1 bg-light text-dark">
        <div class="container">
            <div class="copyright text-center">
                <hr/>
                <p class="small">&copy; 2024, Academic Peak</p>
            </div>

        </div>
    </footer>
{% endblock %}
