{% extends 'academicpeak_mainpage.html' %}
{% load static %}

{% block title %}
    Academic Peak World University Ranking 2024
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div style="width: 100% !important; background-color: #221f1f !important; padding-top: 3rem !important; padding-bottom: 3rem !important; ;"
         class="page-hero bg-primary text-white" id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="emoji mb-3">
                        <img src="{% static 'img/Academic Peak Logo web.svg' %}" height="100px">
                    </div>
                    <h1 style="color: #fff!important; font-size: 45px">Academic Peak World University Rankings 2024</h1>
                    <p style="margin-bottom: 0rem !important;" class="lead">"Where Fairness Meets Innovation in
                        University Rankings."</p>
                    <a style="color: #ffffff !important;" href="{% url 'academic_peak_fairness' %}"
                       class="btn btn-outline-primary btn-lg mt-4">How Academic Peak Ranking University</a>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100% !important; padding: 0.5rem 0rem !important;" class="intro bg-light">
        <div class="container">
            {% for key, university in universities_rank.items %}
                <div class="university_container">
                    <img class="university_img"
                         src="/static/img/universities/{{ university.Photo_Link }}"
                         alt="university photo">

                    <div class="university_info_container">
                        <div class="university_name">
                            <a href="{{ university.Link }}"
                               class="university_link">{{ university.University_Name }}</a>
                        </div>
                        <div class="university_info">{{ university.Country }}</div>
                        <div class="university_info">
                            # {{ university.Rank }} in Best Global Universities
                        </div>
                        <div class="university_info">Global
                            Score: {{ university.Global_Score }}</div>
                        <div class="university_info">
                            Enrollment: {{ university.Enrollment }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <footer class="footer-1 bg-light text-dark">
        <div class="container">
            <div class="copyright text-center">
                <hr/>
                <p class="small">&copy; 2024, Academic Peak</p>
            </div>

        </div>
    </footer>
{% endblock %}

