{% extends 'academicpeak_mainpage.html' %}
{% load static %}

{% block title %}
    Academy - Academic Peak
{% endblock %}

{% block content %}
    <div style="color: #221f1f !important;" class="navbars">
        <nav style="color: #221f1f !important;" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="{% url 'academic_peak_academy' %}">
                    <img src="{% static 'img/Academic Peak Logo web black.svg' %}" alt="Academic Peak Logo" class="mr-2"
                         height="30">
                    Academy - Academic Peak
                </a>
            </div>
        </nav>
    </div>

    <div class="container" style="max-width: 961px; margin: 0 auto; padding: 0px !important;">
        <h3 style="margin-left: 10px !important;">{{ subject }} / {{ item_code }}</h3>
    </div>

    <div class="container"
         style="max-width: 961px; margin: 0 auto; padding: 0px !important; text-align: center; border: 2px solid #dbdbdb;">
        <video controls autoplay name="media" style="display: block; width: 100%; max-width: 100%; margin: 0;">
            <source src="/static/academy/{{ subject }}/{{ item_code }}.mp4" type="video/mp4">
        </video>
    </div>

    </div>


    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}