<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About This Site</title>
    <link rel="stylesheet" href={% static 'css/adout.css' %}>
</head>
<body>
<div class="header"><h3>关于本站</h3></div>
<div class="container">
    <p><b>项目介绍</b>
        <br>
            谢鸿哲自主研发的网站是一款全新开放世界的在线平台。你将在这个网站中探索一个由Python、Django和SQLite搭建的世界。
        <br>
            在这广阔的平台中，你可以体验由Nginx和uWSGI部署的高效网站，与他们一同对抗网站的各种挑战，踏上寻求知识和技术的路途；也可以不带目的地漫游，沉浸在充满可能的世界里，让好奇心驱使自己发掘每个功能的奥秘……直到你与技术的极限重聚，在终点见证一切创新的沉淀。这个网站现已部署在腾讯云上，旅行者可以自由选择平台和设备进行探索。
        <br>
        <br>
    </p>

    <p><b>网站功能</b>
        <br><a href="{% url 'academic_peak_mainpage' %}">Academic Peak</a>
        <br><a href="{% url 'love' %}">爱心特效网站</a>
        <br>文件中转站（施工中）
        <br>信息发布平台（施工中）
        <br>托福学习工具（施工中）
        <br>KFC菜谱工具（施工中）
        <br>更多功能敬请期待……
        <br>
        <br>
    </p>

    <p><b>感谢</b>
        <br><a href="https://www.miit.gov.cn/">中华人民共和国工业和化信息部</a>
        <br><a href="http://www.cabr.com.cn/">中国建筑科学研究院有限公司</a>
        <br>由<a href="https://cloud.tencent.com/">腾讯云计算</a>提供服务器部署支持
        <br><a href="https://530t04f125.yicp.fun/">TQY网站（干饭助手）</a>提供的代码示例
        <br>Django框架完善的<a href="https://docs.djangoproject.com/zh-hans/4.1/">中文文档</a>
        <br>
        <br>
    </p>

    <p><b>中华人民共和国工业和信息化部要求公示内容</b>
        <br><a href="https://beian.miit.gov.cn/">京ICP备2023015619号</a>
        <br>
        <br>
    </p>


    <p><b>项目代码</b>
        <br>项目代码托管在GitHub上，地址为
            <a href="https://github.com/MacroXie/hongzhe.site">
                https://github.com/MacroXie/hongzhe.site
            </a>
        <br>如果您有任何建议或意见，欢迎您
            <a href="https://github.com/MacroXie/hongzhe.site/issues">
                提出Issue
            </a>
        <br>如果您有任何需求，欢迎您
            <a href="https://github.com/MacroXie/hongzhe.site/pulls">
                Pull Request
            </a>
        <br>
        <br>
    </p>


    <p><b>问题反馈&amp;意见建议&amp;技术交流</b>
        <br>由于正在开发中的原故，Debug并未关闭，如果您发现了任何问题，欢迎您联系我
        <br>邮箱：xiehongzhe04@outlook.com
        <br>微信：xiehongzhe04
    </p>

</div>
</body>
</html>