.top_blue {
    background: #221f1f;
    width: 100%;
    margin-top: -10px;
    z-index: -1;
}

.logo {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 500px;
    font-family: "Microsoft YaHei", sans-serif;
}

.web_info_background_gray {
    background: #d3d7dc;
    width: 100%;
    min-height: 113px;
    padding: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Microsoft YaHei", sans-serif;
}

.h1_text {
    font-size: 40px;
    flex: 1;
    font-family: "Microsoft YaHei", sans-serif;
}

/* for 循环生成部分css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Microsoft YaHei", sans-serif;
}

.university-rank-container {
    display: flex;
    width: 800px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.university_photo {
    width: 210px;
    height: 235px;
    object-fit: cover;
}

.university_info_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 200px);
}

.university_name {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    font-family: "Microsoft YaHei", sans-serif;
}

.university_name a {
    text-decoration: none;
    color: #333;
}

.country {
    margin-left: 20px;
    font-size: 20px;
    color: #666;
    margin-bottom: 5px;
    font-family: "Microsoft YaHei", sans-serif;
}

.rank_info {
    margin-left: 20px;
    font-size: 30px;
    color: #666;
    margin-bottom: 5px;
    font-family: "Microsoft YaHei", sans-serif;
}

.global_score {
    margin-left: 20px;
    font-size: 25px;
    color: #666;
    margin-bottom: 3px;
    font-family: "Microsoft YaHei", sans-serif;
}

.enrollment {
    margin-left: 20px;
    font-size: 25px;
    color: #666;
    margin-bottom: 15px;
    font-family: "Microsoft YaHei", sans-serif;
}