{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'img/Academic Peak Logo web.svg' %}" rel="icon" type="image/png">
    <style>
        {% block style %}
            @font-face {
                font-family: 'JetBrainsMono';
                src: url('{% static 'fonts/JetBrainsMono-Regular.woff2' %}') format('woff2');
            }
        {% endblock %}
    </style>
    <link rel="stylesheet" href="{% static 'css/translate.css' %}">

</head>

<body>
{% block content %}{% endblock %}
</body>
</html>