body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f6f9fc;
    font-family: Arial, sans-serif;
    font-size: 30px;
}


#chat-container {
    max-width: 700px;
    width: 100%;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    overflow-y: auto;
}


#chat-log {
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}


.message {
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-start;
}

.chatbot-message {
    background-color: #f0f0f0;
    align-self: flex-end;
}


#user-input {
    display: flex;
    margin-top: 20px;
}

#input-text {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: 30px;
}

#send-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
}

#send-button:hover {
    background-color: #0056b3;
}
