.header {
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.container {
    font-size: 20px;
    margin: 40px 5%;
}

.c2 {
    font-size: 17px;
    text-align: center;
    width: 200px;
    padding: 0;
    margin: 300px auto 100px;
}


img {
    margin: auto;
}



.ex3 {
    font-size: 20px;
    margin-left: 3%;
    margin-right: 0;
}

p {
    margin-bottom: 0
}

